
    
    
    
    
    
    
    body{
     background: #cccccc
 }


#fotodoalura{
     width: 70%;
}
.principal{
    background: #cccccc
}
     

     


.titulo-centralizado{
    text-align: center
 }


p{
      text-align: center
 }


#missao{
    font-sizi: 20px
}




em strong{
     color : rgb(0, 0, 154);
}



.itens{
    font-style:italic
 }   
    



