
    
    
    
    
    
    
    body{
     background: #cccccc
 }


#fotodoalura{
     width: 60%;
}
.principal{
    background: #cccccc
}
     

     


 h1{
    text-align: center
 }


p{
      text-align: center
 }


#missao{
    font-sizi: 20px
}




em strong{
     color : rgb(0, 0, 154);
}



.itens{
    font-style:italic
 }   
    
